<a href="https://colab.research.google.com/github/dharanigs-19/Mini-Project/blob/main/Mini_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [24]:
data=pd.read_csv("/content/marketing_campaign_data.csv")

In [25]:
data["Marital_Status"].value_counts()

Marital_Status
Together    17703
Married     13686
Single      12238
Divorced     6459
Widow        3540
Alone         911
Absurd        733
YOLO          730
Name: count, dtype: int64

In [2]:
predata=pd.read_csv("/content/marketing_campaign_data.csv")

In [3]:
info=pd.read_csv("/content/marketing_data_dictionary.csv")

In [4]:
predata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   56000 non-null  int64
 1   Year_Birth           56000 non-null  int64
 2   Education            56000 non-null  object
 3   Marital_Status       56000 non-null  object
 4   Income               56000 non-null  float64
 5   Kidhome              56000 non-null  int64
 6   Teenhome             56000 non-null  int64
 7   Dt_Customer          56000 non-null  object
 8   Recency              56000 non-null  int64
 9   MntWines             56000 non-null  int64
 10  MntFruits            56000 non-null  int64
 11  MntMeatProducts      56000 non-null  int64
 12  MntFishProducts      56000 non-null  int64
 13  MntSweetProducts     56000 non-null  int64
 14  MntGoldProds         56000 non-null  int64
 15  NumDealsPurchases    56000 non-null  int64
 16  NumWebPurchases      56000 non-null  int64
 17  NumCatalogPurchases  56000 non-null  int64
 18  NumStorePurchases    56000 non-null  int64
 19  NumWebVisitsMonth    56000 non-null  int64
 20  AcceptedCmp3         56000 non-null  int64
 21  AcceptedCmp4         56000 non-null  int64
 22  AcceptedCmp5         56000 non-null  int64
 23  AcceptedCmp1         56000 non-null  int64
 24  AcceptedCmp2         56000 non-null  int64
 25  Response             56000 non-null  int64
 26  Complain             56000 non-null  int64
 27  Country              56000 non-null  object
dtypes: float64(1), int64(23), object(4)
memory usage: 12.0+ MB

In [5]:
predata.shape

(56000, 28)

In [6]:
predata.isnull().sum()

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Response               0
Complain               0
Country                0
dtype: int64

In [7]:
predata.head(3)

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,342199,1985,Graduation,Together,59011.7,1,0,2012-11-17,3,0,...,3,4,0,0,0,0,0,0,0,Spain
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,...,2,3,0,0,0,0,0,0,0,Spain
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,...,6,3,0,0,0,0,0,0,0,Australia

In [8]:
info

                  Field                                        Description
0                    ID                       Customer's unique identifier
1            Year_Birth                              Customer's birth year
2             Education                         Customer's education level
3        Marital_Status                          Customer's marital status
4               Income                  Customer's yearly household income
5               Kidhome         Number of children in customer's household
6              Teenhome        Number of teenagers in customer's household
7           Dt_Customer     Date of customer's enrollment with the company
8               Recency      Number of days since customer's last purchase
9              MntWines           Amount spent on wine in the last 2 years
10            MntFruits         Amount spent on fruits in the last 2 years
11      MntMeatProducts           Amount spent on meat in the last 2 years
12      MntFishProducts           Amount spent on fish in the last 2 years
13     MntSweetProducts         Amount spent on sweets in the last 2 years
14         MntGoldProds           Amount spent on gold in the last 2 years
15    NumDealsPurchases           Number of purchases made with a discount
16      NumWebPurchases  Number of purchases made through the company's...
17  NumCatalogPurchases         Number of purchases made using a catalogue
18    NumStorePurchases        Number of purchases made directly in stores
19    NumWebVisitsMonth  Number of visits to company's web site in the ...
20         AcceptedCmp3  1 if customer accepted the offer in the 3rd ca...
21         AcceptedCmp4  1 if customer accepted the offer in the 4th ca...
22         AcceptedCmp5  1 if customer accepted the offer in the 5th ca...
23         AcceptedCmp1  1 if customer accepted the offer in the 1st ca...
24         AcceptedCmp2  1 if customer accepted the offer in the 2nd ca...
25             Response  1 if customer accepted the offer in the last c...
26             Complain  1 if customer complained in the last 2 years, ...
27              Country                                Customer's location

In [9]:
predata.describe()

,ID,Year_Birth,Income,Kidhome,Teenhome,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,...,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain
count,5.600000e+04,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,...,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000,56000.000000
mean,8.389352e+06,1971.666696,57252.189521,0.539911,0.362143,63.221107,246.981482,16.152661,268.294018,51.097732,...,2.110750,4.706411,5.170107,0.062393,0.056821,0.045661,0.134446,0.014411,0.147589,0.007625
std,4.844638e+06,12.211066,34307.247999,0.521349,0.510567,31.157066,358.569481,33.931463,342.165712,73.226860,...,2.357824,2.896366,2.555911,0.241870,0.231503,0.208750,0.341134,0.119178,0.354696,0.086988
min,3.600000e+01,1936.000000,1730.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4.187372e+06,1963.000000,28252.025000,0.000000,0.000000,35.000000,0.000000,0.000000,42.000000,3.000000,...,0.000000,3.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,8.383784e+06,1973.000000,58838.550000,1.000000,0.000000,71.000000,64.000000,0.000000,107.000000,13.000000,...,1.000000,4.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.258576e+07,1981.000000,86930.650000,1.000000,1.000000,93.000000,353.000000,15.000000,363.000000,71.000000,...,3.000000,6.000000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.677716e+07,1996.000000,258027.500000,2.000000,2.000000,99.000000,1493.000000,199.000000,1341.000000,259.000000,...,14.000000,13.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
predata["Marital_Status"].unique()

array(['Together', 'Single', 'Married', 'Divorced', 'YOLO', 'Alone',
       'Widow', 'Absurd'], dtype=object)

In [11]:
predata[predata["Marital_Status"] == "absurd"]

Empty DataFrame
Columns: [ID, Year_Birth, Education, Marital_Status, Income, Kidhome, Teenhome, Dt_Customer, Recency, MntWines, MntFruits, MntMeatProducts, MntFishProducts, MntSweetProducts, MntGoldProds, NumDealsPurchases, NumWebPurchases, NumCatalogPurchases, NumStorePurchases, NumWebVisitsMonth, AcceptedCmp3, AcceptedCmp4, AcceptedCmp5, AcceptedCmp1, AcceptedCmp2, Response, Complain, Country]
Index: []

[0 rows x 28 columns]

In [12]:
predata["Marital_Status"] = predata["Marital_Status"].replace({
    "YOLO": "Single",
    "Alone": "Single",
    "Together": "Married",
    "Widow": "Widowed",
    "Absurd": np.nan
})

In [22]:
predata

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,342199,1985,Graduation,Married,59011.7,1,0,2012-11-17,3,0,...,3,4,0,0,0,0,0,0,0,Spain
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,...,2,3,0,0,0,0,0,0,0,Spain
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,...,6,3,0,0,0,0,0,0,0,Australia
3,16164787,1976,Graduation,Married,74031.5,1,0,2014-06-18,47,265,...,11,4,0,0,0,0,0,0,0,Spain
4,15815139,1981,Graduation,Divorced,52784.2,1,1,2014-05-20,0,30,...,3,6,0,0,0,0,0,0,0,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55995,2485439,1985,Graduation,Married,32533.4,0,0,2013-04-05,99,8,...,6,8,0,0,0,0,0,0,0,Australia
55996,9202496,1992,Basic,Single,70496.3,0,1,2013-01-31,9,835,...,8,4,0,0,0,0,0,0,0,Germany
55997,14677746,1950,Graduation,Married,21072.0,1,0,2013-06-25,24,0,...,0,3,0,0,0,0,0,1,0,Saudi Arabia
55998,3843719,1976,Graduation,Married,64218.1,0,0,2014-05-12,81,8,...,1,8,0,0,0,0,0,0,0,Saudi Arabia
55999,3195751,1984,Graduation,Married,89322.8,0,1,2013-09-04,93,113,...,1,4,0,0,0,0,0,0,0,Saudi Arabia

Warning: Total number of columns (28) exceeds max_columns (20) limiting to first (20) columns.
Warning: total number of rows (56000) exceeds max_rows (20000). Limiting to first (20000) rows.

In [15]:
predata["Marital_Status"].unique()

array(['Married', 'Single', 'Divorced', 'Widowed', nan], dtype=object)

In [18]:
predata["Education"].unique()

array(['Graduation', 'Master', '2n Cycle', 'Basic', 'PhD'], dtype=object)

In [19]:
predata["Education"].value_counts()

Education
Graduation    22741
PhD           12581
Master        10530
2n Cycle       5966
Basic          4182
Name: count, dtype: int64

In [26]:
predata["Marital_Status"].value_counts(dropna=False)

Marital_Status
Married     31389
Single      13879
Divorced     6459
Widowed      3540
NaN           733
Name: count, dtype: int64

In [27]:
predata["Country"].value_counts(dropna=False)

Country
Spain           16703
Canada          10746
Saudi Arabia     8422
Australia        5677
India            4814
Germany          4432
USA              4331
Mexico            875
Name: count, dtype: int64

In [31]:
predata["Income"].unique()

array([59011.7,  1730. , 98584.6, ..., 70496.3, 64218.1, 89322.8])